.contacts svg {
    max-height: 24px;
    min-width: min-content;
    width: 24px;
}

.contacts svg path {
    fill: #222;
}

@media (prefers-color-scheme: dark) {
    .contacts svg path {
        fill: #ddd;
    }
}
