.aloha {
    background: #f06;
    background: linear-gradient(45deg, #fff722, #ff26f9);
    height: 120px;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.aloha:before,
.aloha:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.aloha:before {
    background: red;
    box-shadow: 0 0 140px 64px red;
    z-index: 2;
    top: -100%;
    left: -72%;
    opacity: 0.8;
}

.aloha:after {
    background: white;
    z-index: 3;
    bottom: -96%;
    right: -72%;
    box-shadow: 0 0 140px 64px white;
    opacity: 1;
    border-radius: 100%;
}